$bodyFontSize = 16px
$fallbackTheme = 'Light'
$dropShadowColor = #111112

// Light Theme
$accentColor = #43dfe3
$textColor = #2c3e50
$bodyBgColor = #fff
$sideBgColor = #fff
$badgeTipColor = #caf2ff


$contentWidth = 900px